
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Verdana, sans-serif;
    overflow-x: hidden; 
}


#cabecalho {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #1abc9c; 
    padding: 0 20px; 
    height: 80px; 


#cabecalho h1, #cabecalho h3 {
    margin: 0;
    color: white;
}

#cabecalho a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}


.cabecalho2 {
    display: flex;
    align-items: center; 
}


.cabecalho2 a {
    margin-left: 20px; 
}


.corpo {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    grid-gap: 20px; 
    padding: 10px;
}


.container img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    display: block;
}


.rodape {
    color: rgb(255, 255, 255);
    background-color: #1abc9c;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    position: relative;
    width: 100%;
}
